
.background_img {
    z-index: -1;
    position: absolute;
    top:60px;
    left:0;
    width:100%;
    height: 400px;
    opacity: 50%;
}

.background_img img {
    position: absolute;
    width: 4rem;
}

.star1 {
    top: 90%;
    left: 90%;
    transform: rotate(45deg);
}
.star2 {
    top: 30%;
    left: 5%;
    transform: rotate(10deg);
}
.star3 {
    top: 2%;
    left: 40%;
    transform: rotate(-20deg);
}
.star4 {
    top: 70%;
    left: 20%;
    transform: rotate(10deg);
}
.star5 {
    top: 40%;
    left: 55%;
    transform: rotate(40deg);
}
.star6 {
    top: 20%;
    left: 80%;
    transform: rotate(100deg);
}

.group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.group img {
    width: 10%;
    margin-left: 2em;
    margin-right: 2em;
}

@media screen and (max-width: 600px) {
    .group {
        flex-direction: column;
    }
    .group img {
        width: 40%;
    }
}

.title {
    font-size: 2em;
    margin-block-end: 0.3em;
}

.content {
    width: 100%;
    font-size: 1.2em;
}