body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  --bg-color: #1e1f22;
  --font-color: #fff;
  background-color: var(--bg-color);
  color: var(--font-color);
}

.container {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}